/* Group Selector */
h1, h2 {
    text-align: center;
}

/* Part A: Box Model */

.box1 {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
}

.box2 {
    width: 250px;
    height: 120px;
    padding: 10px;
    border: 3px dashed blue;
    margin: 40px;
}

.box3 {
    width: 200px;
    height: 100px;
    padding: 30px;
    border: 5px solid red;
    margin: 20px;
    box-sizing: border-box; /* Border box applied */
}

/* Part C: Display Properties */

.block-example {
    display: block;
    border: 2px solid green;
    margin: 10px 0;
}

.inline-example {
    display: inline;
    border: 2px solid orange;
}

.inline-block-example {
    display: inline-block;
    width: 150px;
    height: 50px;
    border: 2px solid purple;
    margin-left: 10px;
}

/* Display none */
.none-example {
    display: none;
}

/* Visibility hidden */
.hidden-example {
    visibility: hidden;
    border: 2px solid black;
}
